<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/header.ejs', {page: "books"}) %>
		<div class="container m-5">
			<h1 >Books List</h1>
			<div class="container w-25">
				<% if(locals.message){ %>
					<div
						class="alert alert-danger alert-dismissible fade show p-2 mt-2"
						role="alert"
					>
						<p class="m-0"><%=message.missing%></p>
						
					</div>
					<% } %>
			</div>
		</div>
		<div class="container row row-cols-1 row-cols-md-2 g-1 m-5">
				<% books.forEach(book => { %>
			<div class="col">
				<div class="card">
					<!-- <img src="..." class="card-img-top" alt="..." /> -->
					<div class="card-body row">
						<img class="col-6" src="<%= book.image %> " alt="">
						<div class="col-6">
							<h5 class="card-title">Title: <%= book.title %></h5>
						<p class="card-text"><strong>Author:</strong>  <%= book.author %></hp>
						<p class="card-text"><strong>Summary:</strong> <%= book.summary %></p>
						<p class="card-text">
							<strong>Published on:</strong>  <%= book.publishDate %>
						</p>
						</div>
						
						<form class="w-50 my-2" method="POST" action="/books/<%= book._id %>?_method=DELETE">
							<button class="btn btn-danger" type="submit">Delete</button>
						</form>
						<form class="w-50 my-2 " method="GET" action="/books/edit/<%= book._id %>">
							<button class="btn btn-warning" type="submit">Edit</button>
						</form>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
		
		
	</body>
</html>
